.game-canvas {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px;
  margin: auto;
  display: block;
  position: fixed;
  min-width: 700px;
  height: 600px;
  background-color: green;
  background-image: url("../images/grass.jpg");
  background-repeat: repeat;
}


/*style welcome card*/
#welcome-card {
  bottom: 0%;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  padding: 12px;
  border-radius: 15px;
  position: fixed;
  width: 30%;
  min-width: 700px;
  height: 600px;
  /*background-image: url('../images/welcome-card-background.png');*/
  background: green;
  background-size: 700px 600px;
  text-align: center;
}

input[type=text] {
  font-size: 1.5rem !important;
  color: blue;
}

.ball-colors {
  width: 80px;
  height: 80px;
  display: inline;
}

.ball-color-div {
  display: inline;
}

input {
  text-align: center;
}

#player-name {
  max-width: 20vw;
}

#welcome-text {
  margin-top: 20px;
  text-shadow: 2px 1px purple;
  color: pink;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

 #ball-color-text {
  text-shadow: 2px 1px purple;
  color: yellow;
  font-family: "Comic Sans MS", cursive, sans-serif;
 }

#start-game-form {
  margin-top: 100px;
}

::-webkit-input-placeholder {
  /*text-shadow: 2px 1px white;*/
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: blue !important;
}

/*instruction*/

.instruction-link {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
  margin-top: 15px;
  position: absolute;
  margin-left: 10px;
}

#instruction-section {
  bottom: 50%;
  right: 80%;
  left: 5px;
  top: 20%;
  margin: auto;
  padding: 12px;
  opacity: 0.80%;
  display: none;
  border-radius: 15px;
  position: fixed;
  width: 280px;
  height: 300px;
  background: orange;
  text-align: center;
}

/*style score card*/

#score-card {
  bottom: 60%;
  right: 0;
  left: 71%;
  margin: auto;
  padding: 12px;
  display: none;
  border-radius: 15px;
  position: fixed;
  width: 230px;
  height: 250px;
  background: transparent;
  text-align: center;
}


th {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: green !important;
	margin: 30px auto;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.9;
}

td {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  color: blue;
  font-weight: 900;
}

/*style finished hole card*/

#finished-hole-card {
  bottom: 0%;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  opacity: 0.85;
  display: none;
  padding: 12px;
  border-radius: 15px;
  position: fixed;
  width: 30%;
  min-width: 600px;
  height: 400px;
  background: blue;
  background-size: 700px 600px;
  text-align: center;
}

#stroke-to-par {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: white !important;
	margin: 30px auto;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.9;
}

#level-score {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: white !important;
	margin: 30px auto;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.9;
}

/*welcome player card*/

#welcome-player-div {
  display: none;
}

#welcome-player {
  text-align: center;
  position: relative;
  text-shadow: 2px 1px purple;
  color: pink;
  font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	opacity: 0.8;
}

/*end of game card*/

#end-game-card {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  display: none;
  padding: 12px;
  border-radius: 15px;
  position: fixed;
  width: 30%;
  min-width: 600px;
  height: 300px;
  background: red;
  background-size: 700px 600px;
  text-align: center;
}

.total-score-class {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: white !important;
	margin: 30px auto;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.9;
}

#restart-btn {
  margin-top: 30px;
}

